@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

:root {
	/* Base font size */
	font-size: 10px;

	/* Heading height variable*/
	--heading-height: 30em;
}

body {
	font-family: "Roboto", Arial, sans-serif;
  background-color: $main-backgroundcolor;
  max-width: $max;
  overflow-x: hidden;
}

.main {
  padding: calc(var(--heading-height) + 1.5vw) 4em 0;
  
  &__button {
    color: $second-textcolor;
    background: $main-textcolor;
    border: 1px $main-textcolor solid;
    padding: 5px 10px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 9pt;
    outline: none;

    &:hover {
        border: 1px $main-textcolor solid;
        box-shadow: 1px 1px 1px $main-textcolor;
        color: lighten($second-textcolor, 25%);
        background: $main-textcolor;
    }

    &:active {
      box-shadow: inset 1px 1px 1px $main-textcolor;   
    }
  }
}

.header {
	position: absolute;
	width: $max;
  height: var(--heading-height);

  // Create angled background with 'before' pseudo-element
  &::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 6em;
    width: $max;
    height: calc(var(--heading-height) + 10em);
    z-index: -1;
    transform: skewY(-3.5deg);
    background: 
      linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)),
      url(https://images.unsplash.com/photo-1495464101292-552d0b52fe41?auto=format&fit=crop&w=1350&q=80) no-repeat center,
      linear-gradient(#4e4376, #2b5876);
    background-size: cover;
    border-bottom: .2em solid $main-textcolor;
  }

  &__title {
    font-size: calc(2.8em + 2.6vw);
    font-weight: 700;
    letter-spacing: .01em;
    padding: 10rem 0 0 4.5rem;
    text-shadow: .022em .022em .022em $second-textcolor;
    color: $main-textcolor;
  }
  &__submit {
    display: none; 
    position: fixed;
    z-index: 1; 
    padding-top: 100px;
    left: 0;
    top: 0;
    width: $max; 
    height: $max;
    overflow: auto;
    background-color: $second-textcolor;
    background-color: $second-textcolor;
  
    &_content {
      background-color: $main-textcolor;
      margin: auto;
      padding: 20px;
      border: 1px solid lighten($second-textcolor, 25%);
      width: 80%;
    }
  
    &_close {
      color: lighten($second-textcolor, 50%);
      float: right;
      font-size: 28px;
      font-weight: bold;
  
      &:hover, &:focus {
        color: $second-textcolor;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}

.current_location {
  background-color: lighten($main-backgroundcolor, 10%);
  width: $max;
  height: 400px;
  @include shadow;
  color: $main-textcolor;

  &__title {
    @include textalign;

    &-name {
      @include textalign;
    }
  }

  &__icon {
    margin: auto;
    padding: auto;
    display: block;
    width: 100px;
  }

  &__temp {
    text-align: center;
    font-size: 3em;
    padding: 0 80px;
  }

  &__delete {
    position: absolute;
    color: $main-textcolor;
    display: flex;
    height: 100px;  
    width: 100px;
    padding-bottom: 0;
    text-align: center;
    font-size: 20px;
  }
}

.location {
  display: block;
  background-color: lighten($main-backgroundcolor, 10%);
  width: 80%;
  height: 400px;
  @include shadow;
  color: $main-textcolor;
  margin: 20px 20px 30px 20px;

  &__title {
    padding-top: 20px;
    font-size: 3em;
    text-align: center;
  }

  &__icon {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100px;
  }

  &__temp {
    text-align: center;
    font-size: 3em;
    padding: 0 100px;
  }

  &__delete {
    position: absolute;
    height: 50px;
  }

}

.locations {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  cursor: move;

  &__item {
    padding: 20px;
  }
}

.button {
  position: relative;
  z-index: 1;
  width: 80px;
  height: 80px;
  color: $second-textcolor;
  background: $button-maincolor;
  border-radius: 50%;
  border: none;
  transition: box-shadow 400ms cubic-bezier(.2,0,.7,1), transform 200ms cubic-bezier(.2,0,.7,1);
  
  &:after {
      content: "+";
      font-size: 2.5em;
      line-height: 1.1em;
  }

  &:hover {
      transform: rotate(45deg);
      box-shadow: 0 0 1px 15px rgba(lighten($button-maincolor, 20%), 0.4),
      0 0 1px 30px rgba(lighten($button-maincolor, 20%), 0.1),
      0 0 1px 45px rgba(lighten($button-maincolor, 20%), 0.1);
  }

  &__text {
    margin: {right: 1em;}
    text-align: center;
    color: $button-maincolor;
  }

  &__holder {
    position: absolute;
    top: 30px;
    right: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 300px;

    &:after {
      content: "";
      position: absolute;
      z-index: 0;
      top: 0; right: 0; bottom: 0; left: 0;
    }
  }
}
